.table-list-item {
    display: flex;
    flex: 1 0 auto;
}

.table-list-item__item {
    border: 1px solid var(--cell-border-color);
    border-width: 0 0 1px 1px;
    padding: 10px 20px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
