.table-control {
    display: flex;

    border: 1px solid var(--cell-border-color);
    border-radius: 5px 5px 0 0;

    padding: 1rem;
}

.table-control__header {
    border-bottom: 1px solid var(--cell-border-color);
    border-radius: 5px 5px 0 0;

    padding: 1.5rem 2rem;
    background: var(--cell-background-color);
}

.table-control__body {
    padding: 1rem 2rem;
}

.table-control__search {
    margin-top: 2.5rem;
}
