.checkbox {
    flex: 0 0 auto;

    width: 1.5rem;
    height: 1.5rem;

    border: 2px solid var(--color-grey);
    border-radius: 5rem;
    cursor: pointer;

    &:hover {
        background: var(--checkbox-green-dark);
        border: 2px solid var(--checkbox-green);
    }
}

.checkbox--active {
    background: var(--checkbox-green);
    border: 2px solid var(--checkbox-green);

    &:hover {
        border: 2px solid var(--checkbox-green-dark);
        background: var(--checkbox-green-dark);
    }
}
